<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <main>
        <form id="question-form" method="post" action="/question">
            <div class="form-group">
                <label for="question">Enter Text</label>
                <input type="text" id="question" name="question" size="50" placeholder="Type something..." />
            </div>

            <input type="submit" value="Submit" />
        </form>

        <div class="answers">
            {% if answers %}
            {% for answer in answers %}
            <span class="answer">{{ answer.label }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </main>

</body>

</html>