<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
    <main>
        <form id="question-form" method="post" action="/question">
            <label for="question">Search Aesop's Fables by theme:</label><br>
            <input type="text" id="question" name="question" size="50"><br><br>
            <input type="submit" value="Submit">
        </form>
       
        <div>
        {% if answers %}
            {% for answer in answers %}
                <span class="question">{{answer.title}}</span>
                <span class="answer">{{answer.content}}</span>
                <!-- <p>distance: {{answer.distance}}</p> -->
            {% endfor %}
         
        {% endif %}
        </div>
    </main>
</body>

</html>